{% extends 'blog/base.html' %}
{% block content %}

<div class="profile-main-container">

    <div class="profile-main">
        <div class="primary">
            <div class="image">
                <img src="{{request.user.profile.image.url}}" alt="">
            </div>
        </div>
        <div class="info-container">
            <div class="info">
                <h1>{{User.username}}</h1>
                <p>Assistant Professor at KU</p>
                <div class="social-media-links">
                    <div class="fb">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="linkdin">
                        <i class="fab fa-linkedin"></i>
                </div>
                </div>
                <div class="followings">
                    <div class="following">
                        <span>Following</span>
                        <span class="count">{{ followings }}</span>
                    </div>
                    <div class="follower">
                        <span>Followers</span>
                        <span class="count">{{ followers }}</span>
                    </div>
                </div>
            </div>
            {% if selfProfile == 0%}
            <div class="button">
                <button data-url="{% url 'followings' %}" value = '{{User.id}}' class = "
                
                {% if already_following == True %}
                    followed
                {% else %}
                    not-followed
                {% endif%}
                
                ">{% if already_following == True %}
                    Following
                {% else %}
                    Follow
                {% endif%}</button>
            </div>
            {% endif %}
        </div>

    </div>
</div>




<div class="posts">

    {% for post in posts %}
        {% include 'blog/post_template.html' %}
    {% endfor %}
    
</div>





{% endblock %}

